#flashMessagesWrap {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    z-index: 99999;
    display: none;
}
#flashMessagesWrap > div.flash-message {
    position: absolute;
    width: 100%;
    height: auto;
    max-width: 500px;
    background: #fff;
    display: none;
}