<html>
<head>
    <title>Prihlásenie / CMS v1.0</title>
    <link rel="stylesheet" href="{$WEBROOT}/public/public/css/core.css">
    {block css}{/block}
</head>
<body>
{block content}{/block}
<script type="text/javascript" src="{$WEBROOT}/public/public/jquery/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="{$WEBROOT}/public/public/js/core.js"></script>
{if $flashes}
    <div id="flashMessagesWrap">
        {foreach $flashes as $flash}
            <div class="flash-message {$flash->type}" style="display: block;">
                <div class="flash-message-title}">Title</div>
                <div class="flash-message-text">{$flash->message}</div>
            </div>
        {/foreach}
    </div>
    <script type="text/javascript" src="{$WEBROOT}/public/public/js/flash.js"></script>
{/if}
{block js}{/block}
</body>
</html>