{layout '_layout.latte'}

{block css}{/block}
{block js}{/block}

{block content}
    {_'Ahoj'}
    {*{!'test'|url}*}
    <img src="{$WEBROOT}/images/thumb/2/1.jpg" alt="">
    <img src="{$WEBROOT}/images/main/2/1.jpg" alt="">
    <img src="{$WEBROOT}/images/main-test/2/1.jpg" alt="">
{/block}